.title-works-container {
    width: 40%;
    padding: 3%;
    justify-content: center;
    display: flex;
    animation: fade;
    animation-duration: 0.7s;
}

.title-works {
    color: #F10081;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    font-weight: 400;
}

.works-container {
    width: 100%;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }