header{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #141414;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.header-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.item-container {
    width: 10%;
    height: 100%;
    justify-content: end;
    text-decoration: none;
}

.item-container:hover {
    background-color: #383838;
    transition: ease-in-out 0.2s;
}

.item-name {
    text-align: center;
    height: 100%;
    margin-top: 9%;
}

.home {
    justify-content: flex-start;
}

@keyframes vibration {
    0% {margin-top: 0;}
    25% {margin-top: 5px;}
    50% {margin-top: 0;}
    75% {margin-top: -5px;}
    100% {margin-top: 0;}
}